



<div class="main-content" *ngIf="!notPaid">
  <ngx-spinner
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          type="ball-fall">
    <p style="font-size: 20px; color: white"></p>
  </ngx-spinner>
  <div *ngIf="!notPaid">

        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Users</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables table-responsive" >
              <table *ngIf="users.length > 0" id="datatables" datatable [dtOptions]="dtOptions" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                  <th class="disabled-sorting text-center">Picture</th>
                  <th>Full name</th>
                  <th>ID Number</th>
                  <th class="disabled-sorting text-center">Actions</th>

                </tr>
                </thead>
                <tbody style="width: 100%">
                <tr *ngFor="let row  of users">
                  <td class="disabled-sorting">
                    <div class="user">

                    <div class="photo">
                    <img style="height: 40px" [src]="row.user_image" (error)="row.user_image = '/assets/img/avatar.png'">
                    </div>
                    </div>
                  </td>


                  <td>{{row?.first_name}} {{row?.last_name}}</td>
                  <td>{{row?.phone_number}}</td>
                  <td class="text-center disabled-sorting" >
                   <mat-icon matTooltip="Send notification to {{row?.first_name}}" color="primary" (click)="notify(row)" [matTooltipPosition]="'below'" class="material-icons pointer">notifications</mat-icon>

                     <mat-icon class="material-icons pointer" color="primary" (click)="view(row.uid)"  matTooltip="View" [matTooltipPosition]="'below'">visibility</mat-icon>
<!--                    <a matTooltip="Delete" (click)="delete(row)" [matTooltipPosition]="'below'" class="btn btn-link btn-danger btn-just-icon "><i class="material-icons">delete</i></a>-->

<!--                    <mat-slide-toggle style="margin-top: 10px" (change)="changed($event,row)" [checked]="false" *ngIf="row.status == 'disabled'">Enable</mat-slide-toggle>-->
<!--                    <mat-slide-toggle style="margin-top: 10px" (change)="changed($event,row)" [checked]="true" *ngIf="row.status != 'disabled'">Disable</mat-slide-toggle>-->


                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->

