

<div class="wrapper wrapper-full-page">
  <div class="page-header lock-page header-filter" style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
    <div class="container">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="card  text-center ">
          <div class="card-header ">
<!--            <div class="card-avatar">-->
<!--              <a href="#pablo">-->
<!--                <img class="img" src="./assets/img/faces/avatar.jpg">-->
<!--              </a>-->
<!--            </div>-->
          </div>
            <form (ngSubmit)="submit()" [formGroup]="forgot">
          <div class="card-body ">
            <h4 class="card-title">Reset password</h4>

            <mat-form-field  >
              <input
                      type="email"
                      matInput
                      placeholder="Email Address *"
                      [errorStateMatcher]="matcher"
                      formControlName="email"
                      (ngModelChange)="emailValidationRegister($event)">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Valid Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

          </div>
          <div class="card-footer justify-content-center">
            <button type="submit" class="btn btn-rose btn-round">Submit</button>
          </div>
            </form>
        </div>
      </div>
    </div>
  </div>

</div>
