




        <div class="sidebar-wrapper">


                <div style="margin-top: 10px; margin-left: 20px">
                    <img style="height: 55px" src="/assets/img/logo2.png"/>
                </div>



            <div class="user">
                <div class="photo">
                    <img  src=" ./assets/img/avatar.png" />
                </div>
                <div class="user-info">
                    <a    class="collapsed">
                        <span>
                           Admin

                        </span>
                    </a>
                </div>
            </div>


            <ul class="nav" >



                <li routerLinkActive="active"  class="nav-item">
                    <!--If is a single link-->
                    <a [routerLink]="'/dashboard'" class="nav-link">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>


                <li routerLinkActive="active"  class="nav-item">
                    <!--If is a single link-->
                    <a [routerLink]="'/users'"   class="nav-link">
                        <i class="material-icons">people</i>
                        <p>Users </p>
                    </a>
                </li>

                <li routerLinkActive="active"  class="nav-item">
                    <!--If is a single link-->
                    <a class="nav-link" (click)="logOut()">
                        <i class="material-icons">power_settings_new</i>
                        <p>
                            Logout
                        </p>
                    </a>
                </li>


            </ul>

        </div>
