<div class="main-content">
    <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            type="ball-fall">
        <p style="font-size: 20px; color: white"></p>
    </ngx-spinner>
    <div class="container-fluid">
<!--        <div id="recaptcha-container" ></div>-->

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <h4 class="card-title">Profile -
                            <small class="category">Users Profile</small>
                        </h4>
                    </div>
                    <div class="card-body">
                        <!--            <form>-->
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Email address</label>
                                    <input readonly [value]="user.email" type="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Fist Name</label>
                                    <input readonly [(ngModel)]="user.first_name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Last Name</label>
                                    <input  readonly  [(ngModel)]="user.last_name"type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Phone Number</label>
                                    <input readonly   [(ngModel)]="user.phone_number" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">ID Number</label>
                                    <input readonly  [(ngModel)]="user.id_number" type="text" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="clearfix"></div>
                        <!--            </form>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">

                            <img  class="img"  (error)="user.user_image = '/assets/img/avatar.png'" src="{{user?.user_image}}" />


                                  </div>
                    <div class="card-body">
                       
                        <h4 class="card-title">{{user?.first_name}}</h4>

                        <!--            <a href="#pablo" class="btn btn-rose btn-round">Follow</a>-->
                    </div>
                </div>


            </div>

        </div>
        <div *ngIf="lat" class="card">
            <div class="text-center pull">


            <button (click)="gotIt()" class="btn btn-primary  btn-sm ">Go it</button>
            </div>

            <agm-map style="width: 100%"
                     [latitude]="lat"
                     [longitude]="lng"
                     [zoom]="17"
                     [disableDefaultUI]="false"


            >
                <agm-marker
                        [latitude]="lat"
                        [longitude]="lng"
                >
                    <agm-info-window>
                        <strong>{{user.first_name}}</strong>
                    </agm-info-window>

                </agm-marker>
            </agm-map>


        </div>


    </div>
</div>
